$red-color: #ac0c0c;
$gold-color: #c4972e;
$purple-color: #5b1865;

$main-text: black;
$main-background: white;

$sky-blue-background: #aac2d5;

@font-face {
  font-family: nunito;
  src: url('./fonts/Nunito\ Sans\ Black.ttf');
}